* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  /* font-weight: normal; */
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-Bold.woff2") format("woff2"),
    url("./Assets/Fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-Medium.woff2") format("woff2"),
    url("./Assets/Fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-Light.woff2") format("woff2"),
    url("./Assets/Fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-Regular.woff2") format("woff2"),
    url("./Assets/Fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("./Assets/Fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
